extends layout
block content
  h1 #{title}
  h4.text-center #{user.name}
  br
  form(method='POST', action='/users/profile/'+user._id)
    #form-group
      label Imię i nazwisko:
      input.form-control.centerInput(name='name', type='text', value=user.name)
    #form-group
      label E-mail:
      input.form-control.centerInput(name='email', type='text', value=user.email)
    #form-group
      label Hasło:
      input.form-control.centerInput(name='password', type='password')
    #form-group
      label Powtórz hasło:
      input.form-control.centerInput(name='password2', type='password')
    br
    input.btn.btn-primary(type='submit', value='Submit')
